# Configuration Epi Analytics

# Données
DATA_CACHE_DIR=./data/cache
DATA_SOURCE_URL=https://covid.ourworldindata.org/data/owid-covid-data.csv

# Application Streamlit
STREAMLIT_THEME_BASE=light
STREAMLIT_SERVER_PORT=8501
